<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.appytalkteam.appytalkcore" >


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LanguageSelectorActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".QuizActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".CategorySelectorActivity"
            android:label="@string/title_activity_category_selector"
            android:launchMode="singleInstance">
        </activity>
    </application>

</manifest>
